/* label{
    opacity: .5;
} */

/* label:has(input[type="radio"]:checked){
    border-color: var(--color-clr-btn-hover);
    background: var(--color-clr-btn);
    opacity: .5;
} */
label:has(input[type="radio"]:checked){
    border-color: color-mix(in oklab, var(--color-clr-border-dark) 10%,  transparent);
    background: color-mix(in oklab, var(--color-clr-btn) 100%,  transparent);
    color: var(--color-clr-title-dark);
    
    &:where(.dark, .dark *){
        border-color: color-mix(in oklab, var(--color-clr-border-dark) 100%,  transparent);
        background: color-mix(in oklab, var(--color-clr-dark-card) 50%,  transparent);
        color: var(--color-clr-text-dark);
    }
}

.pop{
    animation: pop .6s 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    color: #05050500;
}
@keyframes pop {
    from {
        opacity: 0;
        transform: translateY(50%);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

.closePop{
    animation: close 500ms linear forwards;
}

@keyframes close {
    from{
        opacity: 1;
        transform: translateY(0);
    } to {
        opacity: 0;
        transform: translateY(100%);
    }
}

.carousel{
    scroll-snap-type: x mandatory;
}
.items{
    flex-shrink: 0;
    scroll-snap-align: center;
    /* border-radius: 16px; */
}