<!-- <section
    class="w-full pb-4 flex flex-col md:flex-row items-center justify-center md:justify-start max-[768px]:px-2.5 max-[769px]:px-4.5 md:px-5 lg:px-7.5 xl:px-8.5 gap-4 md:gap-8">
    <div
        appScrollAnim
        animType="fade"
        class="w-full relative flex flex-col gap-8 border border-clr-border-dark dark:bg-clr-dark-card/30 p-4 rounded-xl">
        <h3
            class="flex items-center gap-4 font-title text-sm md:text-lg lg:text-xl text-clr-title dark:text-clr-title-dark font-thin">
            <lucide-icon [img]="icons.location" class="my-icon"></lucide-icon>
            Localisation
        </h3>
        <div
            #mapContainer
            class="w-full h-[50vh] rounded-lg border border-clr-border-dark">

        </div>
    </div>
</section> -->
<div
    appScrollAnim
    animType="fade"
    class="w-full h-full relative flex flex-col gap-8  p-4 rounded-xl">
    <h3
        class="flex items-center gap-4 font-title text-sm md:text-lg lg:text-xl text-clr-title dark:text-clr-title-dark font-thin">
        <lucide-icon [img]="icons.location" class="my-icon"></lucide-icon>
        Localisation
    </h3>
    <div
        id="mapContainer"
        class="w-full h-[50vh] border border-clr-border-dark rounded-xl  overflow-hidden">

    </div>
</div>