<main
    class="max-w-365 w-screen relative">
    <app-header [name]="app"></app-header>
    <section
        class="w-full pt-24 pb-4 flex flex-col max-[768px]:px-2.5 max-[769px]:px-4.5 md:px-5 lg:px-7.5 xl:px-8.5 gap-4 md:gap-8">
        <div
            class="w-full ">
            <h2
                class="max-[321px]:text-1xl text-3xl md:text-4xl xl:text-5xl font-bold font-title  font-linear-color || text-focus-in"
                >
                Mon Portfolio
            </h2>
        </div>

        <div
            class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8 ||  ">
            @for(project of projects; track $index){
                <div
                    appScrollStory
                    class="border border-clr-border-dark dark:bg-clr-dark-card/30 p-4 rounded-xl flex flex-col gap-8">
                    <div
                        class="p-4 border border-clr-border-dark rounded-lg overflow-hidden">
                        <img 
                            [src]="project.image" 
                            alt=""
                            class="lg:hover:scale-105 transition-all duration-300"
                        >
                    </div>
                    <div>
                        <div
                            class="mb-2">
                            <h3
                                class="font-title text-clr-title dark:text-clr-title-dark">
                                {{project.name}}
                            </h3>
                            <a 
                                [href]="project.link"
                                class="font-text-accent text-clr-text hover:text-clr-btn transition-all duration-200 cl"
                                target="_blank">
                                {{project.link}}
                            </a>
                        </div>
                        @for(stacks of project.stacks; track $index){
                            <i class="{{stacks.stack}} {{stacks.class}} not-first:mr-1 text-xl"></i>
                        }
                        <p
                            class="font-text text-sm md:text-lg lg:text-lg dark:text-clr-text-dark mt-4">
                            {{project.description}}
                        </p>
                    </div>
                </div>
            }
        </div>
    </section>

    <app-footer></app-footer>
</main>
