<div
    class="flex gap-2 items-center">
    <button
        (click)="themeAppService.setLightTheme(); choiceTheme = false"
        [class.circle]="themeAppService.themeDisplay() === appTheme.Light"
        [class.text-background]="themeAppService.themeDisplay() === appTheme.Light"
        class="items-center p-1.5 active:scale-90 transition-all duration-200"
        >
        <lucide-icon 
            [img]="icons.sun" 
            class="my-icon"></lucide-icon>
    </button>
    
    <button
        (click)="themeAppService.setDarkTheme(); choiceTheme = false"
        [class.circle]="themeAppService.themeDisplay() === appTheme.Dark"
        [class.text-background]="themeAppService.themeDisplay() === appTheme.Dark"
        class="items-center p-1.5 active:scale-90 transition-all duration-200"
        >
        <lucide-icon 
            [img]="icons.moon" 
            class="my-icon"></lucide-icon>
    </button>
    
    <button
        (click)="themeAppService.setSystemTheme(); choiceTheme = false"
        [class.circle]="themeAppService.themeDisplay() === appTheme.System"
        [class.text-background]="themeAppService.themeDisplay() === appTheme.System"
        class="items-center p-1.5 active:scale-90 transition-all duration-200"
    >
        <lucide-icon 
            [img]="icons.system" 
            class="my-icon"></lucide-icon>
    </button>
</div>
