<section
    class="min-h-screen flex flex-col items-center max-[321px]:justify-center justify-around relative gap-4  lg:gap-1 max-[321px]:pt-16 pt-16 md:pt-16 lg:pt-16 xl:pt-1 z-1 overflow-hidden">
    <div
        class="w-full flex flex-wrap items-center justify-center max-[321px]:gap-1 gap-4 px-1 xl:mt-24">
        <span *ngFor="let stack of stacks" class="max-md:h-7 max-md:w-7 md:py-0.5 md:px-2.5 gap-1 rounded-full md:rounded-2xl bg-clr-bg dark:bg-clr-dark-card/50 text-clr-title dark:text-clr-title-dark my-box-shadow border border-clr-border-dark/30 dark:border-clr-border-dark flex items-center justify-center">
            <i class="ri-{{stack.icon}} {{stack.color}} max-[321px]:text-sm text-xl"></i>
            <p
                class="text-sm hidden md:block">
                {{stack.name}}
            </p>
        </span>
    </div>
    <div
        class="w-full flex flex-col items-center justify-center gap-2 sm:mt-8 md:mt-8 lg:mt-1">
        <h1
            class="max-[321px]:text-2xl text-4xl md:text-6xl xl:text-7xl font-bold font-text  font-linear-color">
            Nathan Dev
        </h1>
        <p
            class="max-[321px]:text-xl text-3xl md:text-5xl xl:text-6xl font-bold font-text-accent text-clr-title dark:text-clr-title-dark">
            Web Développeur
        </p>
        <p
            class="max-[321px]:text-xs md:text-lg text-center dark:text-clr-text-dark px-2 md:px-0 w-full md:w-9/10 md:mt-8 lg:mt-2 lg:w-8/10 xl:w-6/10 font-text">
            Je suis développeur web spécialisé dans la création de sites et d'applications web modernes, performants et adaptés aux besoins de mes clients. Avec une passion pour le développement front-end et back-end, je m'efforce de créer des expériences utilisateur exceptionnelles tout en garantissant la qualité du code et la maintenabilité des projets.
        </p>
    </div>
    <div
        class="max-[321px]:w-13/14 w-9/11 md:w-5/10 lg:w-4/11 max-[321px]:h-9 h-12 rounded-lg bg-clr-title dark:bg-black flex gap-1 items-center justify-start px-4 text-clr-title-dark sm:pl-8 lg:pl-16">
        <span>Je suis </span>
        <p
            appTextWriter
            [words]="textWriter"
            [typeSpeed]="60"
            [deleteSpeed]="30"
            [betweenDelay]="700"
            [wordDelay]="2500"
            class="font-title text-clr-accent-orange max-[321px]:text-sm text-sm md:text-base font-light">
            >

        </p>
        <span
            class="h-4 w-0.5 bg-clr-title-dark"></span>
    </div>
    <div
        class="w-full flex items-center justify-center gap-4">
        <button
            [routerLink]="['/contact']"
            class="bg-clr-btn hover:bg-clr-btn-hover transition-all duration-200 text-clr-title-dark max-[321px]:px-2 max-[321px]:py-1 px-4 py-1 md:py-2 rounded-2xl md:rounded-lg active:scale-95 cursor-pointer">
            Me contacter
        </button>
        <button
            class=" transition-all duration-200 max-[321px]:py-1 px-4 md:px-8 py-1 md:py-2 rounded-2xl md:rounded-lg active:scale-95 border border-clr-border-dark/60 hover:border-clr-border-dark/60 dark:border-clr-border-dark dark:hover:border-clr-border-dark/50 text-clr-text dark:text-clr-text-dark bg-clr-bg dark:bg-clr-dark-card/50 backdrop-blur-sm ">
            Projets
        </button>
    </div>

    <!-- background effect -->
    <div
        class="w-4/6 h-1/1 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-wrap -z-1 rotate-45 scale-200"
        >
        <div
            class="w-1/2 h-1/2 bg-clr-accent-orange/10 || blur-[160px] ">
        </div>
        <div
            class="w-1/2 h-1/2 bg-clr-accent-purple/10 || blur-[160px]">
        </div>
        <div
            class="w-1/2 h-1/2 bg-clr-accent-green-opacity/10 || blur-[160px]">
        </div>
        <div
            class="w-1/2 h-1/2 bg-clr-accent-linear-blue/10 || blur-[160px]">
        </div>
    </div>
</section>
