<section
    class="min-h-screen flex flex-col items-center max-[321px]:justify-center justify-around relative gap-4  lg:gap-1 max-[321px]:pt-16 pt-16 md:pt-16 lg:pt-16 xl:pt-1 z-1 overflow-hidden">
    <div
        class="w-full flex flex-wrap items-center justify-center max-[321px]:gap-1 gap-2.5 md:gap-4 px-1 xl:mt-24 || opacity rebond-box-header">
        <span *ngFor="let stack of stacks" class="max-md:h-7 max-md:w-7 md:py-0.5 md:px-2.5 gap-1 rounded-full md:rounded-2xl bg-clr-bg dark:bg-clr-dark-card/50 text-clr-title dark:text-clr-title-dark my-box-shadow border border-clr-border-dark/30 dark:border-clr-border-dark flex items-center justify-center">
            <i class="ri-{{stack.icon}} {{stack.color}} max-[321px]:text-sm text-xl"></i>
            <p
                class="text-sm hidden md:block">
                {{stack.name}}
            </p>
        </span>
    </div>
    <div
        class="w-full flex flex-col items-center justify-center gap-2 sm:mt-8 md:mt-8 lg:mt-1">
        <h1
            class="max-[321px]:text-2xl text-4xl md:text-6xl xl:text-7xl font-bold font-text  font-linear-color || text-focus-in">
            Nathan Dev
        </h1>
        <p
            class="max-[321px]:text-xl text-3xl md:text-5xl xl:text-6xl font-bold font-text-accent text-clr-title dark:text-clr-title-dark || op-scale opacity-0">
            Web Développeur
        </p>
        <p
            class="max-[321px]:text-xs md:text-lg text-center dark:text-clr-text-dark px-3.5 md:px-0 w-full md:w-9/10 md:mt-8 lg:mt-2 lg:w-8/10 xl:w-6/10 font-text || opacity-0 opacity-anim delay">
            Je suis développeur web spécialisé dans la création de sites et d'applications web modernes, performants et adaptés aux besoins de mes clients. Avec une passion pour le développement front-end et back-end, je m'efforce de créer des expériences utilisateur exceptionnelles tout en garantissant la qualité du code et la maintenabilité des projets.
        </p>
    </div>
    <div
        class="max-[361px]:w-13/14 w-9/11 md:w-5/10 lg:w-4/11 max-[321px]:h-9 h-12 rounded-lg bg-clr-title dark:bg-black flex gap-1 items-center justify-center px-4 text-clr-title-dark sm:pl-8 lg:pl-16 || opacity-0 rebond-up">
        <span>Je suis </span>
        <!-- appTextWriter
        [words]="textWriter"
        [typeSpeed]="60"
        [deleteSpeed]="30"
        [betweenDelay]="700"
        [wordDelay]="2500" -->
        <p
            class="font-title text-clr-accent-orange max-[321px]:text-sm text-sm md:text-base font-light">
            >

        </p>
        <span
            class="h-4 w-0.5 bg-clr-title-dark"></span>
    </div>
    <div
        class="w-full flex items-center justify-center gap-4">
        <button
            [routerLink]="['/contact']"
            class="bg-clr-btn hover:bg-clr-btn-hover transition-all duration-200 text-clr-title-dark max-[321px]:px-2 max-[321px]:py-1 px-4 py-1 md:py-2 rounded-2xl md:rounded-lg active:scale-95 cursor-pointer || text-focus-in">
            Me contacter
        </button>
        <button
            class=" transition-all duration-200 max-[321px]:py-1 px-4 md:px-8 py-1 md:py-2 rounded-2xl md:rounded-lg active:scale-95 border border-clr-border-dark/60 hover:border-clr-border-dark/60 dark:border-clr-border-dark dark:hover:border-clr-border-dark/50 text-clr-text dark:text-clr-text-dark bg-clr-bg dark:bg-clr-dark-card/50 backdrop-blur-sm || text-focus-in ">
            Projets
        </button>
    </div>

    <!-- background effect -->
    <div
        class="w-4/6 h-1/1 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-wrap -z-1 rotate-45 scale-200"
        >
        <div
            class="w-1/2 h-1/2 bg-clr-accent-orange/10 || blur-[160px] ">
        </div>
        <div
            class="w-1/2 h-1/2 bg-clr-accent-purple/10 || blur-[160px]">
        </div>
        <div
            class="w-1/2 h-1/2 bg-clr-accent-green-opacity/10 || blur-[160px]">
        </div>
        <div
            class="w-1/2 h-1/2 bg-clr-accent-linear-blue/10 || blur-[160px]">
        </div>
    </div>

    <svg
    class="absolute opacity-6 -z-10 h:screen trans"
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:svgjs="http://svgjs.dev/svgjs"
    viewBox="0 0 1422 800"
    >
        <g
            shape-rendering="crispEdges"
            stroke-linejoin="round"
            fill="none"
            stroke-width="2.5"
            stroke="hsl(220, 70%, 56%)"
        >
            <polygon points="1422,0 1066.5,200 1066.5,0"></polygon>
            <polygon points="888.75,0 1066.5,100 888.75,100"></polygon>
            <polygon points="711,100 711,0 888.75,100"></polygon>
            <polygon points="888.75,100 888.75,200 711,200"></polygon>
            <polygon points="1066.5,100 1066.5,200 888.75,200"></polygon>
            <polygon points="1066.5,300 1066.5,200 888.75,300"></polygon>
            <polygon points="888.75,300 711,200 888.75,200"></polygon>
            <polygon points="888.75,400 711,300 711,400"></polygon>
            <polygon points="1066.5,400 888.75,400 888.75,300"></polygon>
            <polygon points="1422,300 1244.25,200 1422,200"></polygon>
            <polygon points="1244.25,200 1244.25,300 1066.5,200"></polygon>
            <polygon points="1244.25,400 1244.25,300 1066.5,400"></polygon>
            <polygon points="1422,400 1244.25,400 1244.25,300"></polygon>
            <polygon points="533.25,100 711,0 711,100"></polygon>
            <polygon points="355.5,0 533.25,100 533.25,0"></polygon>
            <polygon points="533.25,200 533.25,100 355.5,100"></polygon>
            <polygon points="711,200 711,100 533.25,100"></polygon>
            <polygon points="355.5,100 355.5,0 177.75,100"></polygon>
            <polygon points="177.75,0 177.75,100 0,100"></polygon>
            <polygon points="177.75,200 0,100 0,200"></polygon>
            <polygon points="177.75,200 355.5,100 177.75,100"></polygon>
            <polygon points="355.5,200 177.75,200 177.75,300"></polygon>
            <polygon points="0,200 177.75,300 177.75,200"></polygon>
            <polygon points="177.75,400 0,300 0,400"></polygon>
            <polygon points="355.5,300 177.75,300 177.75,400"></polygon>
            <polygon points="711,300 711,200 533.25,300"></polygon>
            <polygon points="533.25,200 355.5,300 355.5,200"></polygon>
            <polygon points="444.375,350 444.375,300 533.25,300"></polygon>
            <polygon points="444.375,300 355.5,350 355.5,300"></polygon>
            <polygon points="444.375,350 444.375,400 355.5,350"></polygon>
            <polygon points="533.25,350 444.375,350 444.375,400"></polygon>
            <polygon points="533.25,300 711,400 533.25,400"></polygon>
            <polygon points="533.25,400 533.25,500 711,400"></polygon>
            <polygon points="355.5,400 533.25,500 533.25,400"></polygon>
            <polygon points="355.5,600 533.25,500 533.25,600"></polygon>
            <polygon points="711,500 711,600 533.25,600"></polygon>
            <polygon points="355.5,400 355.5,500 177.75,400"></polygon>
            <polygon points="177.75,500 0,400 0,500"></polygon>
            <polygon points="177.75,600 177.75,500 0,500"></polygon>
            <polygon points="355.5,500 355.5,600 177.75,500"></polygon>
            <polygon points="355.5,700 355.5,600 177.75,700"></polygon>
            <polygon points="177.75,700 0,700 177.75,600"></polygon>
            <polygon points="177.75,700 0,800 177.75,800"></polygon>
            <polygon points="177.75,800 355.5,800 355.5,700"></polygon>
            <polygon points="711,650 622.125,600 711,600"></polygon>
            <polygon points="533.25,650 622.125,600 533.25,600"></polygon>
            <polygon points="533.25,650 533.25,700 622.125,700"></polygon>
            <polygon points="622.125,650 622.125,700 711,650"></polygon>
            <polygon points="355.5,600 355.5,700 533.25,600"></polygon>
            <polygon points="533.25,800 355.5,800 533.25,700"></polygon>
            <polygon points="533.25,700 711,800 533.25,800"></polygon>
            <polygon points="1422,400 1422,500 1244.25,400"></polygon>
            <polygon points="1244.25,500 1244.25,400 1066.5,400"></polygon>
            <polygon points="1066.5,600 1244.25,500 1066.5,500"></polygon>
            <polygon points="1244.25,500 1422,600 1422,500"></polygon>
            <polygon points="1066.5,400 1066.5,500 888.75,400"></polygon>
            <polygon points="888.75,400 711,500 888.75,500"></polygon>
            <polygon points="888.75,500 711,500 711,600"></polygon>
            <polygon points="888.75,500 1066.5,600 888.75,600"></polygon>
            <polygon points="888.75,700 1066.5,700 1066.5,600"></polygon>
            <polygon points="888.75,600 711,700 711,600"></polygon>
            <polygon points="711,800 888.75,800 888.75,700"></polygon>
            <polygon points="1066.5,700 888.75,700 888.75,800"></polygon>
            <polygon points="1066.5,600 1422,800 1422,600"></polygon>
        </g>
        <g
            fill="none"
            stroke-width="3"
            stroke="hsl(220, 43%, 13%)"
        ></g>
    </svg>
</section>
