<main
    class="max-w-365 w-screen relative">
    <app-header [name]="app"></app-header>
    <app-profile></app-profile>
    <app-info></app-info>
    <app-student-formation></app-student-formation>
    <app-gallery></app-gallery>
    <!-- <app-geo-location></app-geo-location> -->
    <app-footer></app-footer>

    <!-- <ngx-particles
        id="particle"
        [options]="particlesOptions"
        (particlesLoaded)="particlesLoaded($event)"
        [particlesInit]="particlesInit"
        class="absolute w-full h-full top-0 -z-1"
    ></ngx-particles> -->
</main>
